[buildout]
develop = . 
parts = test checker coverage-test coverage-report i18n

[test]
recipe = zc.recipe.testrunner
eggs = z3c.schema [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/schema

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.schema [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[i18n]
recipe = lovely.recipe:i18n
eggs =
  zope.i18n
  z3c.schema
package = z3c.schema
domain = z3c.schema
location = src/z3c/schema
output = i18n/locales
zcml =
  <include package="zope.i18n" file="meta.zcml" />
  <include package="z3c.schema.i18n" />
